body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #9e9e9e
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
svg{
    background-color: transparent;
    color: rgb(252, 107, 107);
   
}
text{
    font-size: 12px;
}
#score{
  min-width: 50px;
  min-height: 50px;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(252, 107, 107); */
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;
}

#canvas{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
}

#canvas:hover{
}